@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@400;600;700&family=Raleway:wght@300;400;600&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

#header {
  width: 100%;
  border-bottom: 1px solid #ddd;
  background: #f7f7f7; }
  #header .inner {
    width: 1180px;
    height: 120px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    #header .inner h1 {
      position: fixed;
      left: 2vw;
      top: 42px; }
      #header .inner h1 a {
        font: bold 32px/1 'Montagu Slab';
        color: #252422; }
    #header .inner #gnb > li {
      float: left; }
      #header .inner #gnb > li > a {
        display: inline-block;
        padding: 20px 30px;
        font: bold 15px/1 'Raleway';
        color: #666; }
    #header .inner #util li {
      float: left; }
      #header .inner #util li a {
        display: inline-block;
        padding: 10px 30px;
        font: 12px/1 'Raleway';
        color: #252422;
        letter-spacing: 1px; }
      #header .inner #util li .util {
        position: fixed;
        right: 0;
        top: 42px;
        margin-right: 80px;
        font: 12px/1 'Raleway';
        color: #252422; }
    #header .inner .btnCall {
      position: fixed;
      right: 2vw;
      top: 60px;
      transform: translateY(-50%);
      width: 20px;
      height: 20px; }
      #header .inner .btnCall::before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        top: 0;
        left: 0;
        transition: top 0.5s 0s, transform 0.5s 0.5s; }
      #header .inner .btnCall::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: bottom 0.5s 0s, transform 0.5s 0.5s; }
      #header .inner .btnCall span {
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        text-indent: -9999px;
        transition: 0.5s; }
      #header .inner .btnCall.on::before {
        transform: rotate(45deg);
        top: 50%;
        margin-top: -1px; }
      #header .inner .btnCall.on::after {
        transform: rotate(-45deg);
        bottom: 50%;
        margin-bottom: -1px; }
      #header .inner .btnCall.on span {
        opacity: 0; }

#footer {
  position: relative;
  width: 100%;
  background: #f7f7f7;
  padding: 35px 0 15px; }
  #footer .inner {
    width: 1180px;
    margin: 0 auto; }
    #footer .inner .top {
      padding: 15px 0; }
      #footer .inner .top div {
        display: block; }
        #footer .inner .top div ul {
          display: flex; }
          #footer .inner .top div ul li {
            padding-right: 30px; }
            #footer .inner .top div ul li a {
              font: 16px/1 'Raleway';
              color: #252522; }
    #footer .inner hr {
      border-top: 1px solid #8b8b8a;
      margin: 1rem auto; }
    #footer .inner .bottom {
      padding: 15px 0; }
      #footer .inner .bottom .box {
        display: flex;
        align-items: center; }
        #footer .inner .bottom .box .sign {
          text-transform: uppercase;
          letter-spacing: 1px;
          margin-right: 30px;
          font: 400 12px/1 'Raleway';
          color: #252522; }
          #footer .inner .bottom .box .sign a {
            font: 12px/1 'Raleway';
            color: #252522; }
        #footer .inner .bottom .box .terms ul {
          display: flex; }
          #footer .inner .bottom .box .terms ul li {
            padding-right: 30px; }
        #footer .inner .bottom .box .terms a {
          font: 12px/1 'Raleway';
          color: #252522; }
      #footer .inner .bottom .credits {
        margin-top: 20px; }
        #footer .inner .bottom .credits span {
          font: 12px/1 'Raleway';
          color: #252522; }
        #footer .inner .bottom .credits .separator {
          margin: 0 10px; }
        #footer .inner .bottom .credits a {
          font: 12px/1 'Raleway';
          color: #252522; }

/*# sourceMappingURL=style.css.map */
